body {
    font-family: Arial, sans-serif;
    background-color:cadetblue;
    /* margin: 0; */
    /* padding: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background:darkkhaki;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150%;
    height: 20%;
    max-width: 390px;
}
button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 24px; 
    font-size: 14px;
    font-family: Arial, sans-serif; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

input[type="text"] {
    width: 70%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    font-family: Arial, sans-serif;
    box-sizing: border-box; 
    transition: border-color 0.3s ease; /
}
h5 {
    font-size: 14px; 
    color:black; 
    background-color:burlywood;
}


